<style>
p {font-size:x-large;}
</style>

<div class="jumbotron">
    <h1 class="display-4">Crypto Monitor</h1>
    <p class="lead">Bienvenido <font color="green">{{name}}</font>, Crypto Monitor es un servicio desarrolado por el grupo 7. Es una aplicación de monitoreo de criptomonedas, permite a un administrador configurar distintas reglas y modificarlas, además permite al resto de los usuarios utilizar estas reglas. </p>
    <hr class="my-4">
    <p> Para mas información visitar nuestra bibliografía.</p>
    <a class="btn btn-primary btn-lg" href="https://gitlab.com/7510-202202/grupo07" role="button">Learn more!</a>
</div>