<div class="col-md-10">
    <div class="card" >
        <div class="card-header">
            <h3>  <FONT COLOR="green"> Rule executed succesfully </FONT></h3>
        </div>
        <div class="card-body">
            <p>Congratulations {{name}}, the rule you want to execute was executed succesfuly</p>
        </div> 
    </div>
</div>