<style>
    h3 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: xx-large;
    }

    div {
        text-align: center;
    }

    button {
        width: fit-content;
    }
</style>

<h3> <i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i class="fas fa-coins">
    </i><i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i
        class="fas fa-coins"></i><i class="fas fa-coins"></i></h3>
<h3> <i class="fas fa-wallet"> </i> Crypto Monitor <i class="fas fa-wallet"></i> </h3>
<h3> <i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i class="fas fa-coins">
    </i><i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i class="fas fa-coins"> </i><i
        class="fas fa-coins"></i><i class="fas fa-coins"></i></h3>
<br></br>

<div class="divider"></div>

<div class="section">
    <p class="lead">Create rules and use it to buy and sell cryptocurrency</p>
</div>

</div>

<div class="divider"></div>

<div class="section">
    <div class="container p-4">
        <div class="col-md-10">
            <form class="was-validated" action="/login" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                        aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                        placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary green">Submit</button>
            </form>
        </div>
    </div>

    <br></br>
    <a href="/register" class="btn btn-primary red darken-1">
        </i> Register
    </a>

    <a href="/auth/google" class="btn btn-primary blue darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>




</div>